.demo-header {
    padding: 10px;
    margin-bottom: 25px;
    h1, h2 {
        display: inline;
        font-weight: normal;
    }

    h1 {
        color: #108ee9;
        font-size: 20px;
    }

    .separate {
        margin: 0 10px;
    }

    h2 {
        color: #646464;
        font-size: 18px;
    }

    span {
        color: #646464;
        font-size: 13px;
    }
}
