@import '../../src/assets/css/default.less';

@prefixCls: yh-toast;

.@{prefixCls} {
    &-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        z-index: @toast-z-index;
    }

    &-inner-container {
        background-color: rgba(0, 0, 0, .8);
        border-radius: @radius;
        padding: 8px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 90px;
    }

    &-icon-container {
        padding-top: 10px;
        padding-bottom: 8px;
    }

    &-text-container {
        display: flex;
        min-height: 20px;
        justify-content: center;
        align-items: center;
    }

    &-own-icon {
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 4px;
    }

    &-content-text {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    &-top {
        position: absolute;
        top: 80px;
    }

    &-bottom {
        position: absolute;
        bottom: 80px;
    }

    &-center {
        display: flex;
        justify-content: center;
    }

    &-animation-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &-mask {
        pointer-events: auto;
    }
}

