@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4zn964');
    src:  url('fonts/icomoon.eot?4zn964#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4zn964') format('truetype'),
    url('fonts/icomoon.woff?4zn964') format('woff'),
    url('fonts/icomoon.svg?4zn964#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
    content: "\e900";
}
.icon-chevron-left:before {
    content: "\e901";
}
.icon-chevron-right:before {
    content: "\e902";
}
.icon-chevron-up:before {
    content: "\e903";
}
.icon-back-home:before {
    content: "\e904";
}
.icon-back:before {
    content: "\e905";
}
.icon-camera:before {
    content: "\e906";
}
.icon-close-circle:before {
    content: "\e907";
}
.icon-eye-off:before {
    content: "\e908";
}
.icon-more:before {
    content: "\e909";
}
.icon-unchecked:before {
    content: "\e90a";
}
.icon-scan:before {
    content: "\e90b";
}
.icon-search:before {
    content: "\e90c";
}
.icon-checked:before {
    content: "\e90d";
}
.icon-radio-on:before {
    content: "\e90e";
}
.icon-radio-off:before {
    content: "\e90f";
}
.icon-eye:before {
    content: "\e910";
}
.icon-alert:before {
    content: "\e911";
}
.icon-flash-circle:before {
    content: "\e912";
}
.icon-checkmark:before {
    content: "\e913";
}
.icon-chevron-left-circle:before {
    content: "\e914";
}
.icon-chevron-right-circle:before {
    content: "\e915";
}
.icon-trashcan:before {
    content: "\e916";
}
.icon-close:before {
    content: "\e917";
}
.icon-chevron-down-circle:before {
    content: "\e918";
}
.icon-edit:before {
    content: "\e919";
}
.icon-arrow-down:before {
    content: "\e91a";
}
.icon-light-off:before {
    content: "\e91b";
}
.icon-light-on:before {
    content: "\e91c";
}
.icon-arrow-up:before {
    content: "\e91d";
}
.icon-minus:before {
    content: "\e91e";
}
.icon-order:before {
    content: "\e91f";
}
.icon-plus:before {
    content: "\e920";
}
.icon-remark-active:before {
    content: "\e921";
}
.icon-remark:before {
    content: "\e922";
}
.icon-triangle-down:before {
    content: "\e923";
}
.icon-triangle-up:before {
    content: "\e924";
}
.icon-chevron-up-circle:before {
    content: "\e925";
}
.icon-close-circle-o:before {
    content: "\e926";
}
.icon-user-check:before {
    content: "\e927";
}
.icon-edit-plus:before {
    content: "\e928";
}
.icon-bell:before {
    content: "\e929";
}
