@import '../../assets/css/default.less';

@refreshPrefixCls: yh-pull-refresh;

.@{refreshPrefixCls} {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    overflow: auto;

    &-wrap {
        position: relative;
        width: 100%;
    }

    &-content  {
        position: relative;
    }

    &-loading {
        width: 100%;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transfrom: translateY(-100px);
        
    }

    &-footer {
        text-align: center;
        font-size: 15px;
        color: #333;
        height: 30px;
        line-height: 30px;
    }

    .fade-element-enter {
        transition-duration: 0;
        transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    }

    .fade-element-enter-active {
        transition-duration: 0;
        transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    }

    .fade-element-exit {
        transition-duration: 800ms;
        transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    }

    .fade-element-exit-active {
        transition-duration: 800ms;
        transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    }
}